<h1>New Visit</h1>
<%= form_with model: [@medical_center, @department, @doctor, @doctor.visits.build ], local: true do |form| %>
  <p>
    <%= form.label :datetime %><br>
    <%= form.text_field :datetime %>
  </p>

  <p>
    <%= form.label :patient %><br>
    <%= form.text_field :patient_id %>
  </p>

  <p>
    <%= form.label :doctor %><br>
    <%= form.text_field :doctor_id, value: @doctor.id, readonly: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<hr>

<%= link_to "Doctor #{@doctor.full_name}", medical_center_department_doctor_path(@medical_center, @department, @doctor) %>
