<h1>Edit Doctor</h1>

<%= form_with model: [@medical_center, @department, @doctor], local: true do |form| %>
  <p>
    <%= form.label :full_name %><br>
    <%= form.text_field :full_name, value: @doctor.full_name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email, value: @doctor.email  %>
  </p>

  <p>
    <%= form.label :phone_number %><br>
    <%= form.text_area :phone_number, value: @doctor.phone_number  %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<hr>

<%= link_to "Doctor #{@doctor.full_name}", medical_center_department_doctor_path(@medical_center, @department, @doctor) %>
