<h1><%= @doctor.full_name%></h1>

<p><%= @doctor.email %></p>
<p><%= @doctor.phone_number %></p>

<ul>
  <li><%= link_to "Edit", edit_medical_center_department_doctor_path(@medical_center, @department, @doctor) %></li>
  <li><%= link_to "Destroy", medical_center_department_doctor_path(@medical_center, @department, @doctor),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<hr>

<%= link_to "Visit Index #{@doctor.full_name}", medical_center_department_doctor_visits_path(@medical_center, @department, @doctor) %>

<hr>

<%= link_to "Create Visit", new_medical_center_department_doctor_visit_path(@medical_center, @department, @doctor) %>

<hr>

<%= link_to "Doctor Index #{@department.name}", medical_center_department_doctors_path(@medical_center, @department) %>
