<!DOCTYPE html>
<html>
  <head>
    <title>MedCenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= form_with url: search_path, local: false, model: @text do |form| %>
        <div>         
          <%= form.text_field :text, id: 'text', required: true %>
          <%= form.label 'Search', for: 'text' %>
          <%= form.submit 'Searh', id: 'search_button', hidden: true %>
        </div>
      <% end %>
    <% end %>
    <div id='results' style='position: relative; z-index: 2;'></div> 

    <% if current_user.class.to_s == 'Admin' %>
      <li><%= link_to "sign_out (#{current_user.class})", destroy_admin_session_path, method: :delete %></li>
    <% elsif current_user.class.to_s == 'Doctor' %>
      <li><%= link_to "sign_out (#{current_user.class})", destroy_doctor_session_path, method: :delete %></li>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

<script>
  $('#text').on('input', () =>
  {
    $('#search_button').click()
  })
</script>
